#search-input {
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.card-image img {
  height: 20rem;
  object-fit: cover;
}
.card-content {
  height: 100%;
}

.modal {
	max-height: 85%;
	width: 80%;
	padding: 1rem;
}

.flexbox {
  display: flex;
  flew-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#movies-list .card-panel {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: bolder;
}

#movie-detail .row,
#movie-detail p,
#movie-detail table {
	margin-top: 2rem;
}